.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height of the container to the viewport height */
    text-align: center;
  }
  
  .about h1 {
    font-size: 4em; /* Adjust the font size as needed */
  }
  
  .about p {
    font-size: 1.5em; /* Adjust the font size as needed */
  }