.search-bar ul li{
    display: inline-block; 
    list-style: none;
   
}

.search-bar ul li a{
    margin-right: 10px;
    margin-left: 20px;
}



input[type="text"] {
    width: 50;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(3, 18, 224);
}

#list{
    list-style-type: none;
}
.superhero-list-item {
  align-items: center;
  gap: 8px;
  margin-bottom: 16px; /* Adjust the margin as needed */
}
  .superhero-list-item button {
    justify-self: end;
  }
  
  .superhero-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .superhero-view li {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
  }
  
  .superhero-view p {
    margin: 0;
  }